body {
	font-family: mr-eaves-modern, sans-serif;
	font-style: normal;
	font-weight: 400;
	background-color: white;
	font-size: 25px;
}

.top-bar {
	background-color: white;
}

.fa-bars {
	background-color: white;
}

#logo {
	width: 10%;
	height: 10%;
	margin-left: 4%;
}

#body-content {
	margin-left: 5%;
	margin-right: 5%;
}

#offCanvas {
	background-color: black;
}

h1,
h2 {
	font-family: verveine, sans-serif;
	font-style: normal;
	font-weight: 400;
}

h1 {
	font-size: 72px;
}

h2 {
	font-size: 56px;
	text-decoration: underline;
	text-decoration-color: #F2526E;
	-webkit-text-decoration-color: #F2526E;
}

p {
	line-height: 1.3;
}

.lead {
	line-height: 1.4;
}

#services-list,
.content-box {
	border: 5px solid #6DDDF2;
	padding: 30px;
	margin: 0 auto;
}

a {
	color: #F2526E;
	font-weight: bold;
}

a:hover {
	color: #F2526E;
}

.footer-right {
	text-align: right;
}

#employers .cell {
	text-align: center;
	padding-bottom: 1em;
}

#employers img {
	max-width: 10em;
	max-height: 5em;
}

#employers .logo-waterloo-mathematics img {
	max-width: 15em;
}

#employers .logo-500px img {
	max-height: 3em;
}

#our-work .cell {
	margin-bottom: 2em;
}

#our-work a {
	display: block;
	padding: 1em;
}

#our-work a img {
	display: block;
	opacity: 0.9;
	transition: opacity 0.3s ease;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#our-work a:hover img {
	opacity: 1;
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

h2 a {
	color: black;
	text-decoration: underline;
	text-decoration-color: #F2526E;
	-webkit-text-decoration-color: #F2526E;
	font-weight: normal;
}

.portfolio-item {
	max-width: 800px;
	margin: 0 auto;
}

.portfolio-item img {
	width: 100%;
	max-width: 600px;
}

label {
	font-size: 25px;
}

[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email],
[type=month], [type=number], [type=password], [type=search], [type=tel],
[type=text], [type=time], [type=url], [type=week], textarea {
	font-size: 18px;
}
